.button {
    padding: 7px;
    color: rgb(94, 94, 94);
    border: 0px solid rgb(231, 231, 231);
    border-radius: 25px;
    background-color: rgba(221, 221, 221, 0.611);
    border-style: solid;
    transition: 0.2s;
    justify-content: space-between;
}

.button:active {
    border: 2px solid rgb(186, 186, 186);
}

.button:hover {
    background-color: rgb(205, 205, 205);
}